attrs==20.3.0
autopep8==1.5.4
certifi==2020.11.8
cycler==0.10.0
decorator==4.4.2
DIRECT==1.0.1
GPy==1.9.9
iniconfig==1.1.1
joblib==0.17.0
kiwisolver==1.3.1
llvmlite==0.35.0
matplotlib==3.3.2
numba==0.52.0
numpy==1.19.4
optimparallel==0.1.1
packaging==20.8
paramz==0.9.5
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
scikit-learn==0.23.2
scipy==1.5.4
scipydirect==1.3
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
